default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c  # frozen: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
  - repo: https://github.com/golangci/golangci-lint
    rev: 2059b18a39d559552839476ba78ce6acaa499b43  # frozen: v1.59.0
    hooks:
      - id: golangci-lint-full
  - repo: https://github.com/commitizen-tools/commitizen
    rev: faff6a61f4f53585a965addd06156eedf0027643  # frozen: v3.25.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg
