default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: c4a0b883114b00d8d76b479c820ce7950211c99b # v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
  - repo: https://github.com/golangci/golangci-lint
    rev: e3c2265f4939976874989e159386b3bb7dcf8e1f # v1.55.2
    hooks:
      - id: golangci-lint-full
  - repo: https://github.com/commitizen-tools/commitizen
    rev: a35591485dae4eadc30291fcb676169c209604a4 # v3.13.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg
