default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
  - repo: https://github.com/golangci/golangci-lint
    rev: 9f61b0f53f80672872fced07b6874397c3ed197b  # frozen: v2.7.2
    hooks:
      - id: golangci-lint-full
  - repo: https://github.com/commitizen-tools/commitizen
    rev: c710c9f541ae452547fdce5c360929f007ec4867  # frozen: v4.8.3
    hooks:
      - id: commitizen
        stages:
          - commit-msg
