name: Linter
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

permissions:
  contents: read

jobs:
  golangci:
    name: Linting Go code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3               # v6.0.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20  # v9.2.0
        with:
          version: latest
