name: Linter
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

permissions:
  contents: read

jobs:
  golangci:
    name: Linting Go code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8               # v5.0.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47  # v9.0.0
        with:
          version: latest
